[submodule "materials_discovery"]
	path = materials_discovery
	url = git@github.com:google-deepmind/materials_discovery
[submodule "archive-optimade-integration"]
	path = archive-optimade-integration
	url = git@github.com:materialscloud-org/archive-optimade-integration/
